*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-size: 1.6rem;
    padding: 8.8rem 8rem;
    background: var(--background-default);
}

img{
    width: 100%;
}

strong{
    color: var(--text-headline);
    text-transform: uppercase;
}